apiVersion: v1
kind: Service
metadata:
  name: graphql-gateway
  namespace: default
  labels:
    app: graphql-gateway
    component: graphql
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: ClusterIP
  ports:
  - name: graphql
    port: 80
    targetPort: 8080
    protocol: TCP
  - name: graphql-ssl
    port: 443
    targetPort: 8080
    protocol: TCP
  - name: metrics
    port: 9090
    targetPort: 9090
    protocol: TCP
  selector:
    app: graphql-gateway