apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: beryl-core-api-pdb
  namespace: default
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: beryl-core-api

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: graphql-gateway-pdb
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: graphql-gateway

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: event-bus-pdb
  namespace: default
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: event-bus